@mixin text-preset-1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
}

@mixin text-preset-2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

@mixin text-preset-3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
}

@mixin text-preset-4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

@mixin text-preset-4-bold {
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
}
