@use '/src/sass/variables.scss' as *;
@use '/src/sass/mixins.scss' as *;

.empty-placeholder {
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  img {
    width: 128px;
    height: 128px;
  }

  &-text {
    color: $rose-500;
    @include text-preset-4-bold;
  }
}