@use '/src/sass/variables.scss' as *;
@use '/src/sass/mixins.scss' as *;

.carbon-neutral-info {
  padding: 16px;
  background-color: $rose-50;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  img {
    width: 20px;
    height: 20px;
  }

  &-text {
    color: $rose-900;
    @include text-preset-4;

    span {
      @include text-preset-4-bold;
    }
  }
}
