@use '/src/sass/variables.scss' as *;
@use '/src/sass/mixins.scss' as *;

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
}

.modal {
  width: 100%;
  // height: 685px;
  padding: 40px 24px 24px;
  background-color: $white;
  border-radius: 12px 12px 0 0;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 32px;

  &-info {
  }

  &-checkmark {
    width: 48px;
    height: 48px;
    margin-bottom: 24px;
  }

  &-title {
    color: $rose-900;
    @include text-preset-1;
    margin-bottom: 8px;
  }

  &-subtitle {
    color: $rose-500;
    @include text-preset-3;
    font-weight: 400;
  }

  &-order {
    padding: 24px;
    background-color: $rose-50;
    border-radius: 8px;
  }
}

@media (min-width: 500px) {
  .modal {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .modal {
    width: 688px;
    border-radius: 12px;
    top: 50%;
    left: 50%;
    bottom: unset;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 1024px) {
  .modal {
    width: 592px;
  }
}
