@use '/src/sass/variables.scss' as *;
@use '/src/sass/mixins.scss' as *;

.order-item {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 16px;
  color: $rose-500;
  @include text-preset-4-bold;
  border-bottom: 1px solid $rose-100;
  padding-bottom: 16px;

  &-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &-title {
    color: $rose-900;
  }

  &-values {
    display: flex;
    gap: 8px;
  }

  &-quantity {
    color: $red;
  }

  &-price {
    @include text-preset-4;
  }

  button {
    margin-left: auto;
  }

  img {
    width: 48px;
    height: 48px;
    border-radius: 4px;
  }
}

.modal {
  .order-item-total {
    color: $rose-900;
    @include text-preset-3;
    margin-left: auto;
  }
}
