@use '/src/sass/variables.scss' as *;
@use '/src/sass/mixins.scss' as *;

.btn {
  &-primary {
    background-color: $red;
    border: none;
    padding: 16px 24px;
    color: $white;
    @include text-preset-3;

    &:hover {
      background-color: #94220e;
    }
  }

  &-add,
  &-add_alternative {
    min-width: 160px;
    padding: 12px;
    background-color: $white;
    border: 1px solid $rose-400;
    color: $rose-900;
    @include text-preset-4-bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  &-add {
    &:hover {
      color: $red;
      border-color: $red;
    }
  }

  &-add_alternative {
    color: $white;
    background-color: $red;
    border: none;
    justify-content: space-between;
    cursor: auto;
  }

  &-remove,
  &-quantity {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid $rose-400;
    border-radius: 50%;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-remove {
    &:hover {
      border-color: $rose-900;

      .icon path {
        fill: $rose-900;
      }
    }
  }

  &-quantity {
    border-color: $white;

    &:hover {
      background-color: $white;

      .icon path {
        fill: $red;
      }
    }
  }
}
