.app {
  padding: 24px 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 32px;
}

@media (min-width: 768px) {
  .app {
    padding: 40px 0;
  }
}

@media (min-width: 1024px) {
  .app {
    padding: 88px 0;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }
}
