@use '/src/sass/variables.scss' as *;
@use '/src/sass/mixins.scss' as *;

.title {
  &-main {
    color: $rose-900;
    @include text-preset-1;
  }

  &-menu {
    color: $rose-900;
    @include text-preset-3;
  }

  &-cart {
    color: $red;
    @include text-preset-2;
  }
}
