@use '/src/sass/variables.scss' as *;
@use '/src/sass/mixins.scss';
@use '/src/sass/modern-normalize.min.scss';

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role='list'],
ul[role='list'] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

body {
  background-color: $rose-50;
  color: $rose-900;
  font-family: 'Red Hat Text', sans-serif;
}

.container {
  width: clamp(327px, 90%, 1216px);
  margin: 0 auto;
}

button {
  border-radius: 999px;
  transition: 0.2s all;
  cursor: pointer;

  img {
    width: 20px;
    height: 20px;
  }
}
